.SayH1{
    color: red;
    font-weight: 450;
    font-size: 19px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.SayH1 p {
    transition: color 0.5s ease; /* Плавный переход цвета текста в течение 0.3 секунды */
    }
  
  .SayH1:hover p {
    color: black; /* Пример изменения цвета текста при наведении курсора */
  }

  .nameLabebleColor{
    height: 65px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }




  