.navigation_block{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 60px;
    background: rgb(236, 236, 236);
    border: 3px solid  #F4F6F5;
    border-radius: 50px;
    padding: 10px;
    margin-top: 80px;
}

.image {
    width: 250px;
    border: 3px solid gray;
    border-radius: 100%;
    padding: 10px;
}

.navigation_text{
    width: 60%;
    font-weight: 300;
    font-size: 23px;
    line-height: 1.5;
    text-align: center;
}

.image img {
    width: 100%;
    height: 100%;
}

@media (max-width: 425px) {
    .image {
        width: 200px;
        border: 3px solid gray;
        border-radius: 100%;
        padding: 10px;
    }

    .navigation_text{
        width: 60%;
        font-weight: 300;
        font-size: 15px;
        line-height: 1.5;
        text-align: center;
    }
}

@media (max-width: 320px) {
    .image {
        width: 180px;
        border: 3px solid gray;
        border-radius: 100%;
        padding: 10px;
    }

    .navigation_text{
        width: 60%;
        font-weight: 300;
        font-size: 13px;
        line-height: 1.5;
        text-align: center;
    }
}