
.boxBack{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    margin-top: 35px;
}

.buttonBack{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 9%;
    height: 100%;
    border: 3px solid  #F4F6F5;
    border-radius: 60px;
}

.spanBlock{
    display: flex;
    gap: 3px;
}

.spanBack{
    display: flex;
    color: #000000;
    font-weight: 350;
    font-size: 18px;
    letter-spacing: 0.05em;
}

.SayH1{
    color: red;
    font-weight: 450;
    font-size: 19px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.SayH1 p {
    transition: color 0.5s ease; /* Плавный переход цвета текста в течение 0.3 секунды */
    }
  
  .SayH1:hover p {
    color: black; /* Пример изменения цвета текста при наведении курсора */
  }

  .nameLabebleColor{
    height: 65px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }

  .h1LableColor h1{
    font-size: 35px;
    line-height: 1.5;
    letter-spacing: 0.05em;
  }

  .lable{
    margin-top: 80px;
  }

  .pLable p{
    font-size: 25px;
    line-height: 1.5;
    letter-spacing: 0.05em;
    font-weight: 360;
  }


  .zadanie p{
    font-size: 27px;
    line-height: 1.5;
    letter-spacing: 0.05em;
    font-weight: 350;
  }
  .zadanie{
    padding-top: 40px;
    padding-left: 50px;
  }

  