
.header{
    padding: 20px 0 15px;
    box-shadow: 0 4px 3px rgba(0, 0, 0, 0.1);
    background: rgb(236, 236, 236);
}

.header-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

.blockLeft{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 15px;
    max-width: 1200px;
}

.txtLogo{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.header_logo_txt{
    font-weight: 350;
    font-size: 19px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
}

.Hello_English{
    color: red;
    font-weight: 450;
    font-size: 19px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
}

.imageLogo img{
    height: 60px;
}

.blockUl li{
    display: flex;
    align-items: center;
    gap: 5px;
}

.blockUl p{
    color: gray;
    letter-spacing: 0.05em;
    text-align: center;
}

@media (max-width: 1458px) {
    .blockUl ul{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }
}