  .block_png_eat{
    display: flex;
    gap: 25px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 40px;
  }

  .block_png_eat img{
    height: 300px;
  }

  .eat-block{
    display: flex;
    justify-content: center;
    margin-bottom: 12px;
  }

  .eat-ticket{
    display: flex;
    align-items: center;
    gap: 20px;
    border: 2px solid transparent; /* устанавливаем прозрачную границу */
    transition: border-color 0.5s;
    width: 75%;
  }

  .eat-ticket:hover {
    border-color: gray;
  }


  .eat-block img{
    height: 250px;
  }

  .text_eatdiv{
    font-size: 35px;
    letter-spacing: 0.03em;
    font-weight: 400;
  }

  .txttranslate{
    display: flex;
    align-items: center;
    gap: 15px;
  }

  .zadanie_translate_eat{
    margin-top: 60px;
  }

  .txttranslate svg{
    height: 30px;
    width: 30px;
  }

  @media (max-width: 1484px) {
    .eat-block img{
      height: 230px;
    }

    .text_eatdiv{
      font-size: 33px;
    }
  }

  @media (max-width: 1404px) {
    .eat-block img{
      height: 215px;
    }

    .text_eatdiv{
      font-size: 30px;
    }
  }

  @media (max-width: 1310px) {
    .eat-block img{
      height: 200px;
    }

    .text_eatdiv{
      font-size: 28px;
    }
  }

  @media (max-width: 1239px) {
    .eat-ticket{
      flex-direction: column;
      padding-top: 20px;
      
    }

    .eat-block img{
      height: 200px;
    }

    .text_eatdiv{
      font-size: 28px;
    }
    .eat-block{
      margin-bottom: 25px;
    }
  }

  @media (max-width: 722px) {
    .eat-block img{
      height: 180px;
    }

    .text_eatdiv{
      font-size: 25px;
    }
    .txttranslate svg{
      height: 25px;
      width: 25px;
    }
  }

  @media (max-width: 651px) {

    .text_eatdiv{
      text-align: center;
    }
    .txttranslate svg{
      height: 30px;
      width: 30px;
    }
    .txttranslate{
      flex-direction: column;
    }
  }

  @media (max-width: 432px) {
    .eat-block img{
      height: 130px;
    }

    .text_eatdiv{
      font-size: 20px;
    }
    .txttranslate svg{
      height: 20px;
      width: 20px;
    }
    
  }
  @media (max-width: 331px) {
    .eat-block img{
      height: 119px;
    }

    .text_eatdiv{
      font-size: 19px;
    }
    .txttranslate svg{
      height: 20px;
      width: 20px;
    }
    
  }

