.map-block{
    font-weight: 300;
    font-size: 17px;
    letter-spacing: 0.05em;
}

.h1-english-tickets{
    font-weight: 500;
    font-size: 22px;
    letter-spacing: 0.09em;
    padding-bottom: 6px;
}

.select-english-tickets{
    border: 3px solid  #F4F6F5;
    border-radius: 60px;
}