.btn_dictor{
    font-size: 27px;
    background-color: #f0f0f0;
    padding: 15px;
    border: 2px solid  #F4F6F5;
    border-radius: 60px;
}

@media screen and (max-width: 1024px) {
    .btn_dictor{
        font-size: 23px;
    }
}
@media screen and (max-width: 425px) {
    .btn_dictor{
        font-size: 20px;
    }
    .zadinie_lable{
        gap: 25px;
    }
}

@media screen and (max-width: 375px) {
    .btn_dictor{
        font-size: 18px;
    }
}