 .nameLabebleColor{
    height: 65px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }

  .h1LableColor h1{
    font-size: 35px;
    line-height: 1.5;
    letter-spacing: 0.05em;
  }

  .lable{
    margin-top: 80px;
  }

  .pLable p{
    font-size: 25px;
    line-height: 1.5;
    letter-spacing: 0.05em;
    font-weight: 360;
  }

  .pngSeasons{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(235px, 1fr));
    gap: 5px;
    margin-bottom: 30px;
  }

.SeasonsItem{
  padding: 20px;
  transition: transform 0.3s ease; 
    
}

  .pngSeasons img{
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
  }

  @media screen and (max-width: 600px) {
    .SeasonsItem {
        transition: none; 
    }
}

.SeasonsItem:hover {
    transform: scale(1.1);
}

  .zadinie_lable{
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
    align-items: center;
  }

  .zadinie_lable_translate{
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
    justify-content: space-around;
  }
  .zadanie p{
    font-size: 27px;
    line-height: 1.5;
    letter-spacing: 0.05em;
    font-weight: 350;
  }

  .zadanie li{
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 0.03em;
  }
  .zadanie ul{
    margin-left: 40px;
  }

  .zadanie{
    padding-top: 40px;
    padding-left: 50px;
  }

  .audioLable{
    padding-left: 30px;
  }

.color-block{
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 12px;
}

.cube-green{
  width: 15px;
  height: 15px;
  background-color: green;
  margin-right: 10px;
}

.cube-blue{
  width: 15px;
  height: 15px;
  background-color: blue;
  margin-right: 10px;
}

.cube-yellow{
  width: 15px;
  height: 15px;
  background-color: yellow;
  margin-right: 10px;
}

.cube-red{
  width: 15px;
  height: 15px;
  background-color: red;
  margin-right: 10px;
}

.cube-gray{
  width: 15px;
  height: 15px;
  background-color: gray;
  margin-right: 10px;
}

.cube-orange{
  width: 15px;
  height: 15px;
  background-color: orange;
  margin-right: 10px;
}

.cube-black{
  width: 15px;
  height: 15px;
  background-color: black;
  margin-right: 10px;
}

.cube-violet{
  width: 15px;
  height: 15px;
  background-color: violet;
  margin-right: 10px;
}

.cube-pink{
  width: 15px;
  height: 15px;
  background-color: pink;
  margin-right: 10px;
}

.cube-purple{
  width: 15px;
  height: 15px;
  background-color: purple;
  margin-right: 10px;
}

.cube-brown{
  width: 15px;
  height: 15px;
  background-color: brown;
  margin-right: 10px;
}

.cube-white{
  width: 15px;
  height: 15px;
  background-color: rgb(230, 230, 230);
  margin-right: 10px;
}

.cube-beige{
  width: 15px;
  height: 15px;
  background-color: beige;
  margin-right: 10px;
}

.cube-silver{
  width: 15px;
  height: 15px;
  background-color: silver;
  margin-right: 10px;
}

.cube-scarlet{
  width: 15px;
  height: 15px;
  background-color: rgb(242, 54, 54);
  margin-right: 10px;
}

@media (max-width: 1246px) {
  .zadinie_lable_translate{
    flex-direction: column;
    
  }
}

@media (max-width: 768px) {
  .zadanie p{
    font-size: 25px;
  }
}

@media (max-width: 425px) {
  .zadanie p{
    font-size: 21px;
    margin-bottom: 10px;
  }

  .zadanie{
    padding-left: 1px;
  }

  .zadanie ul{
    margin-left: 5px;
  }

  .zadanie li{
    font-size: 18px;
  }
  .h1LableColor h1{
    font-size: 30px;
  }
  .pLable p{
    font-size: 23px;
  }

  .lable{
    margin-top: 66px;
  }
}
@media (max-width: 375px) {
  .zadanie p{
    font-size: 19px;
    margin-bottom: 10px;
  }

  .zadanie{
    padding-left: 1px;
  }


  .zadanie li{
    font-size: 18px;
  }
  .h1LableColor h1{
    font-size: 26px;
  }
  .pLable p{
    font-size: 20px;
  }

  .lable{
    margin-top: 58px;
  }
}

@media (max-width: 320px) {
  .zadanie p{
    font-size: 18px;
    margin-bottom: 8px;
  }

  .zadanie{
    padding-left: 1px;
  }


  .zadanie li{
    font-size: 15px;
  }
  .h1LableColor h1{
    font-size: 23px;
  }
  .pLable p{
    font-size: 18px;
  }

  .lable{
    margin-top: 58px;
  }
}