
.boxBack{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    margin-top: 35px;
}

.buttonBack{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 9%;
    height: 100%;
    border: 3px solid  #F4F6F5;
    border-radius: 60px;
}

.spanBlock{
    display: flex;
    gap: 3px;
}

.spanBack{
    display: flex;
    color: #000000;
    font-weight: 350;
    font-size: 18px;
    letter-spacing: 0.05em;
}

.SayH1{
    color: red;
    font-weight: 450;
    font-size: 19px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.SayH1 p {
    transition: color 0.5s ease; /* Плавный переход цвета текста в течение 0.3 секунды */
    }
  
  .SayH1:hover p {
    color: black; /* Пример изменения цвета текста при наведении курсора */
  }

  .nameLabebleColor{
    height: 65px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }

  .h1LableColor h1{
    font-size: 35px;
    line-height: 1.5;
    letter-spacing: 0.05em;
  }

  .lable{
    margin-top: 80px;
  }

  .pLable p{
    font-size: 25px;
    line-height: 1.5;
    letter-spacing: 0.05em;
    font-weight: 360;
  }

  .pngSeasons{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    gap: 10px;
    padding: 40px;
  }

.SeasonsItem{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    padding: 15px;
    border: 3px solid  #F4F6F5;
    border-radius: 40px;
}

  .pngSeasons img{
    max-width: 500px;
    max-height: 500px;
  }

  .zadanie p{
    font-size: 27px;
    line-height: 1.5;
    letter-spacing: 0.05em;
    font-weight: 350;
  }

  .zadanie li{
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 0.03em;
  }
  .zadanie ul{
    margin-left: 40px;
  }

  .zadanie{
    padding-top: 40px;
    padding-left: 50px;
  }

  .audioLable{
    padding-left: 30px;
  }

.color-block{
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 12px;
}

.cube-green{
  width: 15px;
  height: 15px;
  background-color: green;
  margin-right: 10px;
}

.cube-blue{
  width: 15px;
  height: 15px;
  background-color: blue;
  margin-right: 10px;
}

.cube-yellow{
  width: 15px;
  height: 15px;
  background-color: yellow;
  margin-right: 10px;
}

.cube-red{
  width: 15px;
  height: 15px;
  background-color: red;
  margin-right: 10px;
}

.cube-gray{
  width: 15px;
  height: 15px;
  background-color: gray;
  margin-right: 10px;
}

.cube-orange{
  width: 15px;
  height: 15px;
  background-color: orange;
  margin-right: 10px;
}

.cube-black{
  width: 15px;
  height: 15px;
  background-color: black;
  margin-right: 10px;
}

.cube-violet{
  width: 15px;
  height: 15px;
  background-color: violet;
  margin-right: 10px;
}

.cube-pink{
  width: 15px;
  height: 15px;
  background-color: pink;
  margin-right: 10px;
}

.cube-purple{
  width: 15px;
  height: 15px;
  background-color: purple;
  margin-right: 10px;
}

.cube-brown{
  width: 15px;
  height: 15px;
  background-color: brown;
  margin-right: 10px;
}

.cube-white{
  width: 15px;
  height: 15px;
  background-color: rgb(230, 230, 230);
  margin-right: 10px;
}

.cube-beige{
  width: 15px;
  height: 15px;
  background-color: beige;
  margin-right: 10px;
}

.cube-silver{
  width: 15px;
  height: 15px;
  background-color: silver;
  margin-right: 10px;
}

.cube-scarlet{
  width: 15px;
  height: 15px;
  background-color: rgb(242, 54, 54);
  margin-right: 10px;
}