.promo{
    margin-bottom: 140px;
    margin-top: 30px;
}

.promo__content{
    border-radius: 59px;
    background: rgb(236, 236, 236);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    min-height: 650px;
}

.promo__animation{
    max-width: 700px;
}

.promo__text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.promo__title{
    font-weight: 900;
    font-size: 70px;
    line-height: 1.25;
    margin-bottom: 40px;
    text-align: center;
}

.promo__desc{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 25px;
    letter-spacing: 0.05em;
}


.promo__rcs{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    gap: 20px;
}

.textCdt{
    color: rgb(21, 0, 255);
    border: 2px solid blue;
    border-radius: 25px;
    padding: 5px 20px 5px;
    letter-spacing: 0.05em;
    font-size: 20px;
    text-transform: uppercase;
}

.helloengl{
    color: rgb(255, 0, 0);
    border: 2px solid red;
    border-radius: 25px;
    padding: 5px 20px 5px;
    letter-spacing: 0.05em;
    font-size: 20px;
    text-transform: uppercase;
}
@media (max-width: 1696px) {
    .promo__animation{
        max-width: 600px;
    }
    .promo__title{
        font-size: 70px;
    }

    .promo__desc{
        font-size: 23px;
    }
}

@media (max-width: 1521px) {
    .promo__animation{
        max-width: 550px;
    }
    .promo__title{
        font-size: 65px;;
    }

    .promo__desc{
        font-size: 20px;
    }

    .textCdt{
        font-size: 17px;
        
    }
    
    .helloengl{
        font-size: 17px;
    }

}

@media (max-width: 1359px) {
    .promo__animation{
        max-width: 500px;
    }
    .promo__title{
        font-size: 60px;;
    }

    .promo__desc{
        font-size: 18px;
    }

    .textCdt{
        font-size: 17px;
        
    }
    
    .helloengl{
        font-size: 17px;
    }

}


@media (max-width: 1024px) {
    .promo__animation{
        max-width: 580px;
    }
    .promo__title{
        font-weight: 900;
        font-size: 60px;
        margin-bottom: 20px;
        text-align: center;
    }

    .promo__desc{
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 20px;
        font-size: 23px;
        letter-spacing: 0.06em;
    }

    .promo__rcs a{
        font-size: 20px;
    }

    .promo__text{
        margin-bottom: 20px;
    }

}

@media (max-width: 425px) {
    .promo__animation{
        max-width: 550px;
    }
    .promo__title{
        font-weight: 900;
        font-size: 40px;
        margin-bottom: 3px;
        text-align: center;
    }

    .promo__desc{
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 20px;
        font-size: 16px;
        letter-spacing: 0.04em;
    }

    .promo__rcs a{
        font-size: 14px;
        text-align: center;
    }

    .promo__text{
        margin-bottom: 15px;
    }
    .textCdt{
        border: none;
    }
    
    .helloengl{
        border: none;
    }

}
